.break{
  height: 20px;
}
#poster img{
  width: 385px;
  height: 550px;
  vertical-align: middle;
}
#poster{
  max-height: 600px;
  line-height: 600px;
}
#description{
  padding: 0px 40px 10px 50px;
  text-align: justify;
  max-height: 600px;
}
#description h1{
  text-align: center;
}
body{
  color: white!important;
}
<<<<<<< HEAD
.redTitle{
  color: red;
=======
#redTitle{
  color: rgb(185,9,11);
>>>>>>> df86ed6e232aec763420fada4d63f5b54b576020
  font-family: 'Londrina Solid', cursive;
}
#whiteTitle{
  font-family: 'Do Hyeon', sans-serif;
}
div p{
  padding-top: 10px;
}

.user-experience{
  text-align: center;
  font-size: 18px;
  font-family: Helvetica;
  padding-top: 15px;
}
input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}
input[type="submit"] {
  color: white;
  background: red;
}
.send-comment{
  text-align: center;
}

.btn-twitter {
 background: #00acee;
 border-color: #009ad5;
 color: white;
}
.btn-twitter:hover{
  background: #008BC7;
  border-color: #008BC7;
}
.btn-facebook {
 background: #4868ac;
 border-color: #314776;
}
.btn-facebook:hover{
  background: #314776;
  border-color: #314776;
}
.btn-email{
  background: #B9090B;
  border-color: #B9090B;
}
.btn-email:hover{
  background: #8B0000;
  border-color: #8B0000;
}
.submit{
  background: #B9090B;
  border-color: #B9090B;
}
.submit:hover{
  background: #8B0000;
  border-color: #8B0000;
}
.wiki{
  font-size: 12px;
}
a:hover{
  text-decoration: none;
}
a{
  color: #B9090B;
}
#link1{
  text-decoration: none;
  background: inherit;
  color: inherit;
}
iframe{
  width: 460px;
  height: 250px;
}
.form-control{
  width: 300px;
}

#smallBreak{
  height: 7px;
}
/* Screen size changes */

@media screen and (max-width: 1200px) {
  iframe{
    width: 300px;
    height: 150px;
  }
}

@media screen and (max-width: 1000px) {
  #poster img{
    width: 250px;
    height: 365px;
    vertical-align: top;
  }
  h1{
    font-size: 26px;
    color: #B9090B;
  }
  #break{
    width: 5px;
    height: 5px;
  }
  #description{
    padding: 10px 10px 10px 10px;
  }
  #poster {
    padding: 10px 10px 10px 10px;
  }
  .send-comment{
    padding-right: 10px;
  }
  .container{
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px){
  .row{
    display: inline-block;
  }
  #poster{
    height: 400px;
  }
}
